body {
  background: black;}

.lineConnect {
  fill: none;
  opacity: 1;

}

.lineConnect:hover {
  stroke-width: 6;
}

path{
}

#map > path:hover {
  stroke-width: 20;
  fill-opacity: .7;
}
svg {
  z-index: 1
}

.leaflet-overlay-pane svg path{
  pointer-events: auto;
}

#map {
  position: relative;
  z-index: 0;
}
#infocard {
  position: absolute;
  z-index: 1;
  left: 500px;
  bottom: 90px;
  opacity: 0.8;
}
/* Here’s the CSS for masking */

#map {
  clip-path: circle(100px, 100px, 100px);
  clip-path: circle(420px at center);
  
  }